/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input[type=text] {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

.checkboxLine {
  line-height: 40px;
  vertical-align: middle;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox {
  width: 124px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #106cc8;
  position: relative;
  display: inline-block;
}

.checkbox::before {
  content: 'Done';
  position: absolute;
  left: 14px;
  height: 2px;
  color: #106cc8;
  font-size: 16px;
}

.checkbox::after {
  content: 'Todo';
  position: absolute;
  left: 72px;
  height: 2px;
  color: #111;
  font-size: 16px;
}

.checkbox label {
  display: block;
  width: 52px;
  height: 23px;
  border-radius: 50px;

  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 8px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkbox input:checked + label {
  left: 60px;
  background: #106cc8;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

.margin-l-10 {
  margin-left: 10px;
}
